<!--<div class="container">
  <h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
  <div class="row omb_row-sm-offset-3 omb_socialButtons">
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
    </div>
  </div>
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <button (click)="signIn('facebook')">facebook</button>
    <div class="alert alert-danger" *ngIf="error">
      <strong>Error!</strong> Please Provide Valid Email And Password
    </div>
    <form class="form-signin" id="form">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus [(ngModel)]="email"
        (ngModelChange)="onchange()">
      <input type="password" name="pass" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password"
        (ngModelChange)="onchange()">
      <div id="remember" class="checkbox">
        <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login()">Sign in</button>
    </form>-->
<!-- /form -->
<!--Register? <a [routerLink]="['register']" style="cursor:pointer">
                 SignUp
            </a>
  </div>-->
<!-- /card-container -->
<!--</div>-->
<!-- /container -->

<!--
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    

    <div class="omb_login">
    	<h3 class="omb_authTitle">Login or <a >Sign up</a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a  (click)="signIn('facebook')" class="btn btn-lg btn-block omb_btn-facebook" style="cursor:pointer">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
	        </div>	
        	<div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>	
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" name="username" placeholder="email address">
					</div>
					<span class="help-block"></span>
										
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" name="password" placeholder="Password">
					</div>
                    <span class="help-block">Password error</span>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form>
			</div>
    	</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<input type="checkbox" value="remember-me">Remember Me
				</label>
			</div>
			<div class="col-xs-12 col-sm-3">
				<p class="omb_forgotPwd">
					<a href="#">Forgot password?</a>
				</p>
			</div>
		</div>	    	
	</div>
        </div>-->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

<div class="container">

  <script id="metamorph-1-start" type="text/x-placeholder"></script>
  <script id="metamorph-21-start" type="text/x-placeholder"></script>

  <div class="container text-center">
    <form class="form-signin" data-ember-action="2">
      <h2 class="form-signin-heading">Sign in</h2>



      <p>
        <a class="btn btn-primary social-login-btn social-facebook" (click)="signIn('facebook')" style="cursor: pointer"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-primary social-login-btn social-twitter"><i class="fa fa-twitter"></i></a>
      </p>
      <p>
        <a class="btn btn-primary social-login-btn social-linkedin" style="cursor: pointer" (click)="signIn('linkedin')"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary social-login-btn social-google"><i class="fa fa-google-plus"></i></a>
      </p>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Error!</strong> Please Provide Valid Email And Password
      </div>

      <div class="btn-group social-login-more">
        <ul class="dropdown-menu text-left " role="menu">
          <li><a href="#"><i class="fa fa-tumblr-sign"></i>   Tumblr</a></li>
          <li><a href="#"><i class="fa fa-github-alt"></i>   Github</a></li>
          <li><a href="#"><i class="fa fa-dropbox"></i>   Dropbox</a></li>
          <li><a href="/auth/amazon"><span class="zocial-amazon"></span>   Amazon</a></li>
          <li><a href="#"><span class="zocial-bitbucket"></span>   Bitbucket</a></li>
          <li><a href="#"><span class="zocial-evernote"></span>   Evernote</a></li>
          <li><a href="#"><span class="zocial-meetup"></span>   Meetup</a></li>
          <li><a href="#"><i class="fa fa-windows"></i>   Windows Live</a></li>
          <li><a href="#"><i class="fa fa-weibo"></i>   Weibo</a></li>
          <li><a href="#"><i class="fa fa-foursquare"></i>   Foursquare</a></li>
          <li><a href="#"><i class="fa fa-stackexchange"></i>   Stack Exchange</a></li>
          <li><a href="#"><i class="fa fa-trello"></i>   Trello</a></li>
          <li><a href="#"><span class="zocial-wordpress"></span>   Wordpress</a></li>
        </ul>
      </div>
      <br><br>

     <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus [(ngModel)]="email"
        (ngModelChange)="onchange()">
      <input type="password" name="pass" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password"
        (ngModelChange)="onchange()">

      <script id="metamorph-22-start" type="text/x-placeholder"></script>
      <script id="metamorph-22-end" type="text/x-placeholder"></script>

      <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3" (click)="login()">Sign in</button>
      <br>
      <small class="create-account text-muted">Dont have a [your service] or social network account? <button id="ember363" class="ember-view btn btn-sm btn-default"> Sign Up </button> </small>
    </form>
  </div>
